.app__learn {
  display: flex;

  img {
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    width: 100%;

    @media screen and (max-width: 450px) {
      height: 50vh;
    }
  }
}

.app__learn-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100vw;
  margin-right: 40rem;

  h1 {
    text-align: left;

    text-transform: uppercase;
    color: var(--secondary-color);
  }

  button {
    color: var(--primary-color);
    background-color: var(--orange-color);

    padding: 15px 32px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }

  @media screen and (max-width: 450px) {
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
}
