.app__kid {
  display: flex;

  img {
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    width: 100%;

    @media screen and (max-width: 450px) {
      height: 50vh;
    }
  }
}

.app__kid-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 50rem;
  max-width: 25rem;

  h1 {
    text-transform: uppercase;
    color: var(--secondary-color);
  }

  p {
    margin-bottom: 1rem;
  }

  button {
    color: var(--primary-color);
    background-color: var(--orange-color);

    padding: 15px 32px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }

  @media screen and (max-width: 450px) {
    align-items: center;
    margin-left: 10rem;
    p {
      text-align: center;
    }
  }
}
