.app__explore {
  display: flex;

  @media screen and (max-width: 450px) {
    flex-direction: column;
  }
}

.app__explore-text {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 5rem;
  margin-left: 15rem;

  h1 {
    color: var(--secondary-color);
  }

  span {
    color: var(--secondary-color);
  }

  @media screen and (max-width: 450px) {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}

.app__explore-img {
  flex: 1;

  img {
    position: relative;
    object-fit: cover;
    background-position: center;
    min-width: 50%;
    width: 50vw;

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }
}
